@charset utf-8;
    
@font-face {
    font-family: 'Averta';
    src: local('Averta Black'), local('Averta-Black'),
        url('Fonts/Averta/Averta-Black.woff2') format('woff2'),
        url('Fonts/Averta/Averta-Black.woff') format('woff'),
        url('Fonts/Averta/Averta-Black.svg#Averta-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Averta Extrathin';
    src: local('Averta Extrathin Italic'), local('Averta-ExtrathinItalic'),
        url('Fonts/Averta/Averta-ExtrathinItalic.woff2') format('woff2'),
        url('Fonts/Averta/Averta-ExtrathinItalic.woff') format('woff'),
        url('Fonts/Averta/Averta-ExtrathinItalic.svg#Averta-ExtrathinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: local('Averta Bold Italic'), local('Averta-BoldItalic'),
        url('Fonts/Averta/Averta-BoldItalic.woff2') format('woff2'),
        url('Fonts/Averta/Averta-BoldItalic.woff') format('woff'),
        url('Fonts/Averta/Averta-BoldItalic.svg#Averta-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: local('Averta Semibold Italic'), local('Averta-SemiboldItalic'),
        url('Fonts/Averta/Averta-SemiboldItalic.woff2') format('woff2'),
        url('Fonts/Averta/Averta-SemiboldItalic.woff') format('woff'),
        url('Fonts/Averta/Averta-SemiboldItalic.svg#Averta-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Averta Extrathin';
    src: local('Averta Extrathin'), local('Averta-Extrathin'),
        url('Fonts/Averta/Averta-Extrathin.woff2') format('woff2'),
        url('Fonts/Averta/Averta-Extrathin.woff') format('woff'),
        url('Fonts/Averta/Averta-Extrathin.svg#Averta-Extrathin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: local('Averta Light'), local('Averta-Light'),
        url('Fonts/Averta/Averta-Light.woff2') format('woff2'),
        url('Fonts/Averta/Averta-Light.woff') format('woff'),
        url('Fonts/Averta/Averta-Light.svg#Averta-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: local('Averta Bold'), local('Averta-Bold'),
        url('Fonts/Averta/Averta-Bold.woff2') format('woff2'),
        url('Fonts/Averta/Averta-Bold.woff') format('woff'),
        url('Fonts/Averta/Averta-Bold.svg#Averta-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: local('Averta Semibold'), local('Averta-Semibold'),
        url('Fonts/Averta/Averta-Semibold.woff2') format('woff2'),
        url('Fonts/Averta/Averta-Semibold.woff') format('woff'),
        url('Fonts/Averta/Averta-Semibold.svg#Averta-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: local('Averta ExtraBold'), local('Averta-ExtraBold'),
        url('Fonts/Averta/Averta-ExtraBold.woff2') format('woff2'),
        url('Fonts/Averta/Averta-ExtraBold.woff') format('woff'),
        url('Fonts/Averta/Averta-ExtraBold.svg#Averta-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: local('Averta Light Italic'), local('Averta-LightItalic'),
        url('Fonts/Averta/Averta-LightItalic.woff2') format('woff2'),
        url('Fonts/Averta/Averta-LightItalic.woff') format('woff'),
        url('Fonts/Averta/Averta-LightItalic.svg#Averta-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: local('Averta Black Italic'), local('Averta-BlackItalic'),
        url('Fonts/Averta/Averta-BlackItalic.woff2') format('woff2'),
        url('Fonts/Averta/Averta-BlackItalic.woff') format('woff'),
        url('Fonts/Averta/Averta-BlackItalic.svg#Averta-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: local('Averta ExtraBold Italic'), local('Averta-ExtraBoldItalic'),
        url('Fonts/Averta/Averta-ExtraBoldItalic.woff2') format('woff2'),
        url('Fonts/Averta/Averta-ExtraBoldItalic.woff') format('woff'),
        url('Fonts/Averta/Averta-ExtraBoldItalic.svg#Averta-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: local('Averta Thin'), local('Averta-Thin'),
        url('Fonts/Averta/Averta-Thin.woff2') format('woff2'),
        url('Fonts/Averta/Averta-Thin.woff') format('woff'),
        url('Fonts/Averta/Averta-Thin.svg#Averta-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: local('Averta Regular Italic'), local('Averta-RegularItalic'),
        url('Fonts/Averta/Averta-RegularItalic.woff2') format('woff2'),
        url('Fonts/Averta/Averta-RegularItalic.woff') format('woff'),
        url('Fonts/Averta/Averta-RegularItalic.svg#Averta-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: local('Averta Thin Italic'), local('Averta-ThinItalic'),
        url('Fonts/Averta/Averta-ThinItalic.woff2') format('woff2'),
        url('Fonts/Averta/Averta-ThinItalic.woff') format('woff'),
        url('Fonts/Averta/Averta-ThinItalic.svg#Averta-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: local('Averta Regular'), local('Averta-Regular'),
        url('Fonts/Averta/Averta-Regular.woff2') format('woff2'),
        url('Fonts/Averta/Averta-Regular.woff') format('woff'),
        url('Fonts/Averta/Averta-Regular.svg#Averta-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}